main_arm.bicep
/src/ReferenceApp/.vs/ReferenceApp
/src/ReferenceApp/WebApi/bin/Debug/net9.0
/src/ReferenceApp/WebApi/obj
/src/ReferenceApp/WebApp/bin/Debug/net9.0
/src/ReferenceApp/WebApp/obj
src/ReferenceApp/.vs/ProjectEvaluation/referenceapp.metadata.v9.bin
src/ReferenceApp/.vs/ProjectEvaluation/referenceapp.projects.v9.bin
src/ReferenceApp/.vs/ProjectEvaluation/referenceapp.strings.v9.bin
/src/ReferenceApp/ChatBot/bin/Debug/net9.0
/src/ReferenceApp/ChatBot/obj
/src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/DesignTimeBuild
/src/ReferenceApp/ChatBot/WebApi/obj
/src/ReferenceApp/ChatBot/WebApi/bin/Debug/net9.0
src/ReferenceApp/ChatBot/WebApi/.vs/ProjectEvaluation/webapi.metadata.v9.bin
src/ReferenceApp/ChatBot/WebApi/.vs/ProjectEvaluation/webapi.projects.v9.bin
src/ReferenceApp/ChatBot/WebApi/.vs/ProjectEvaluation/webapi.strings.v9.bin
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/CopilotIndices/17.14.1347.20289/CodeChunks.db
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/CopilotIndices/17.14.1347.20289/SemanticSymbols.db
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/FileContentIndex/1f338bc1-04a0-4d19-a6cc-e8c4e8340d05.vsidx
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/config/applicationhost.config
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/v17/.futdcache.v2
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/v17/.suo
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/v17/DocumentLayout.backup.json
src/ReferenceApp/ChatBot/WebApi/.vs/WebApi/v17/DocumentLayout.json
